@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #0f172a;
    --primary-foreground: #f8fafc;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #000000;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000000;
    --foreground: #f8fafc;

    --card: #000000;
    --card-foreground: #f8fafc;

    --popover: #000000;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #0f172a;

    --secondary: #1a1a1a;
    --secondary-foreground: #f8fafc;

    --muted: #1a1a1a;
    --muted-foreground: #adadad;

    --accent: #1a1a1a;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #1a1a1a;
    --input: #1a1a1a;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}